.filters {
  background-color: #a0b78b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filter-section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.form-check-label {
  font-size: 1rem;
  color: #555;
}
