
<main class="container my-5">
  <section class="row mt-5">
    <h2 class="mb-4">Notre Mission</h2>
    <p>
      Traveleef est une plateforme de comparaison de voyages écoresponsables. Nous avons pour mission de
      proposer des trajets à faible empreinte carbone en combinant divers moyens de transport tels que
      l'avion, le train, la voiture, le bus, et le ferry.
    </p>
  </section>

  <section class="row mt-5">
    <h3 class="mb-3">Notre Vision</h3>
    <p>
      Nous croyons fermement que chaque voyage peut contribuer à la transition écologique.
      Traveleef combine innovation et technologie pour permettre à nos clients de réserver
      leurs voyages de manière simple, moderne, et respectueuse de l'environnement.
    </p>
  </section>


  <section class="bg-light p-4 rounded mt-5">
    <h4 class="text-center mb-4">Nos Objectifs</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Créer une interface utilisateur intuitive et agréable</li>
      <li class="list-group-item">Offrir un système de recherche avancé avec filtres et tri</li>
      <li class="list-group-item">Afficher les résultats de comparaison de moyens de transport</li>
      <li class="list-group-item">Proposer un système de réservation simple et rapide</li>
    </ul>
  </section>
</main>

