Flask==2.0.3         # Framework web léger pour Python
Flask-SQLAlchemy==2.5.1  # ORM pour interagir avec la base de données PostgreSQL
psycopg2-binary==2.9.3  # Driver PostgreSQL pour Python
Werkzeug==2.0.3
SQLAlchemy==1.4.27
flask-cors==3.0.10







