<div class="container mt-4">
  <h2 class="text-center">Liste des Utilisateurs:</h2>

  <ng-template #isEmpty>
    <div class="row" style="color: red;">
      <h2>Users list is empty</h2>
    </div>
  </ng-template>
  <div class="row" *ngIf="users?.length != 0 else isEmpty">
    <div *ngFor="let user of users" class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">{{ user.email }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- juste pour test -->
</div>
