<div class="connexion-container">
    <h1>Connexion</h1>

    <form [formGroup]="form_connexion" (ngSubmit)="onSubmitForm(form_connexion)" class="form">
        <p-floatLabel class="float-label">
          <input pInputText id="email" formControlName="email" required class="input"/>
          <label for="Identifiant">Entrez votre email</label>
        </p-floatLabel>
        
        <p-floatLabel class="float-label">
          <p-password id="password" formControlName="pwd" id="pwd" [toggleMask]="true" [feedback]="false" required class="input"></p-password>
          <label for="Mot de passe">Entrez votre mot de passe</label>
        </p-floatLabel>

      <div id="button-container">
        <button pButton type="submit" [outlined]="true" class="p-button-success">Connexion</button>
      </div>
    </form>

    <div class="button-group">
      <p-button [label]="inscription_label" [link]="true" (click)="next()" size="small"></p-button>
      <!-- <p-button [label]="forgot_pwd_label" [link]="true" (click)="prev()" size="small"></p-button> -->
    </div>
</div>