<div class="container">
  <!-- Section de filtres -->
  <div class="filters">
    <h2>Filtres</h2>
    <div class="filter-section">
      <h3>Escales</h3>
      <div>
        <input type="checkbox" id="une-escale" />
        <label for="une-escale">Une Escale</label>
      </div>
      <div>
        <input type="checkbox" id="deux-escales" />
        <label for="deux-escales">Deux Escales</label>
      </div>
      <div>
        <input type="checkbox" id="pas-escale" />
        <label for="pas-escale">Pas d'Escale</label>
      </div>
    </div>
    <div class="filter-section">
      <h3>Compagnies</h3>
      <div>
        <input type="checkbox" id="ryanair" />
        <label for="ryanair">Ryanair</label>
      </div>
      <div>
        <input type="checkbox" id="airfrance" />
        <label for="airfrance">AirFrance</label>
      </div>
      <div>
        <input type="checkbox" id="transavia" />
        <label for="transavia">Transavia</label>
      </div>
    </div>
  </div>

  <!-- Section de recherche -->
  <!--
  <div class="search">
    <input type="text" placeholder="Paris" />
    <input type="text" placeholder="Milan" />
    <select>
      <option>Départ</option>
    </select>
    <select>
      <option>Retour</option>
    </select>
    <button class="confirm-button">Confirmer</button>
  </div>
  -->

  <!-- Image -->
  <div class="image-container">
    <img src="assets/images/backgroundimage.png" alt="Paysage" />
  </div>
</div>

