<footer class="footer">
  <div class="footer-section1">
    <button class="footer-buttonPartenariat">PARTENARIAT</button>
    <div class="partners">
      <a href="https://www.blablacar.fr" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/blablacar.png" alt="Blablacar" class="partner-logo">
      </a>
      <a href="https://www.kayak.fr" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/kayak.png" alt="Kayak" class="partner-logo">
      </a>
      <a href="https://ecopassenger.org" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/ecopassager.png" alt="EcoPassager" class="partner-logo">
      </a>
      <a href="https://www.greentripper.org" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/greentripper.png" alt="GreenTripper" class="partner-logo">
      </a>
      <a href="https://www.omio.com" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/omio.png" alt="Omio" class="partner-logo">
      </a>
    </div>
  </div>
  <!-- Section À Propos -->
  <div class="footer-section2">
    <button routerLink="/proprodetraveleff" class="footer-button">À PROPOS</button>
  </div>

  <!-- Réseaux Sociaux -->
  <div class="resiaux">
    <div class="footer-section social-icons">
      <a href="https://www.instagram.com" class="icon instagram"></a>
      <a href="https://www.facebook.com" class="icon facebook"></a>
      <a href="https://x.com" class="icon twitter"></a>
    </div>
    <p>&copy; 2024 Traveleef. Tous droits réservés.</p>
  </div>
</footer>
