.footer {
  background-color: #8ca96d; /* Vert similaire */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.footer-section {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.footer-button {
  background-color: #8ca96d;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.footer-button:hover {
  background-color: #7d9561;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.icon {
  width: 40px;
  height: 40px;
  display: block;
  background-size: cover;
  border-radius: 50%;
}

.instagram {
  background-image: url('/assets/images/instagramlogo.png'); /* Chemin absolu */
}

.facebook {
  background-image: url('/assets/images/facebooklogo.png'); /* Chemin absolu */
}

.twitter {
  background-image: url('/assets/images/twitterlogo.png'); /* Chemin absolu */
}


@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-section {
    text-align: left;
  }
}
