<header class="header">
  <div class="header-content">
    <!-- Logo -->
    <a routerLink="/" class="logo">
      <img src="assets/images/logo.png" alt="Traveleef Logo" />
    </a>
    <!-- Navigation -->
    <nav class="nav">
      <ul>
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li>
          <a routerLink="/authentification">
            <img src="assets/images/perso.png" alt="Compte logo" class="nav-icon" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
