/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #d8e5c4; /* Couleur d'arrière-plan */
  border-bottom: 2px solid #a0b78b; /* Ligne en bas */
}

/* Contenu principal */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo */
.logo img {
  height: 50px; /* Ajustez la taille si nécessaire */
  object-fit: contain;
}

/* Navigation */
.nav {
  margin-left: auto; /* Pousse la navigation vers la droite */
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav li {
  margin-left: 20px; /* Espacement entre les éléments */
}

.nav a {
  text-decoration: none;
  color: #333; /* Couleur des liens */
  font-weight: bold;
  font-size: 16px;
}

/* Icône utilisateur */
.nav-icon {
  height: 30px; /* Taille de l'icône */
  width: 30px;
  object-fit: contain;
}
