<header class="header  custom-navbar">
  <div class="container">
    <nav class="navbar navbar-expand-lg ">
      <!-- Logo -->
      <a routerLink="/" class="navbar-brand">
        <img src="assets/images/logo.png" alt="Logo" style="height: 50px;" />
      </a>

      <!-- Bouton Hamburger -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <!-- Lien vers l'accueil -->
          <li class="nav-item">
            <a routerLink="/" class="nav-link">Accueil</a>
          </li>

          <!-- Liens affichés si l'utilisateur est authentifié -->
          <ng-container *ngIf="isAuthenticated(); else notAuthenticated">
            <li class="nav-item">
              <a routerLink="/voyage" class="nav-link">Voyage</a>
            </li>
            <li class="nav-item">
              <a (click)="goToInfoPers()" class="nav-link" style="cursor: pointer;">Information Personnelle</a>
            </li>
            <li class="nav-item">
              <button (click)="logout()" class="btn ">Déconnexion</button>
            </li>
          </ng-container>

          <!-- Lien affiché si l'utilisateur n'est pas authentifié -->
          <ng-template #notAuthenticated>
            <li class="nav-item">
              <a routerLink="/auth" class="nav-link">
                <img src="assets/images/perso.png" alt="Compte logo" class="rounded-circle" style="height: 40px; width: 40px;" />
              </a>
            </li>
          </ng-template>
        </ul>
      </div>
    </nav>
  </div>
</header>
