.search {
  position: absolute;
  top: 90px;
  left: 35%;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #c4d9aa;
  padding: 10px;
  border-radius: 15px;
}

.search input,
.search select {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.confirm-button {
  background-color: #455a3b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
